body {
    background-color: blanchedalmond;
    /* display: flex;
    justify-content: center; */
    margin: 4vh auto;
    max-width: 940px;
}

div{
    background-color: aquamarine
}
img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 6px solid black;
    box-sizing: border-box;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.grid li {
    list-style: none;
    /* border: solid black 15px; */
    overflow: hidden;
    margin: auto;
}

.grid ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));~
    grid-auto-rows: 50px;
    grid-auto-flow: dense;
}

.num1 {grid-column: span 2; grid-row: span 2;}
.num2 { grid-row: span 3; grid-column: span 3; }
.num3 { grid-column: span 2; grid-row: 2;}
.num4 { grid-column: span 3; grid-row: 3;  }
.num6 { grid-row: span 2; grid-column: span 2  }
.num7 { grid-column: span 2; grid-row: 2; }
.num9 { grid-column: span 2; grid-row: 2; }
