body{
    height: 95vh;
    width: 95vw; 
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
    margin: 2.5vh 2.5vw;
    background-color: hsl(210, 15%, 16%);
}

main {
    grid-column: 1;
    grid-row: 1;
    object-fit: contain;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

canvas {
    object-fit: contain;
}

#controls {
    grid-column: 2;
    grid-row: 1;
    height: 100%;
    width: 100%;
    background-color: hsl(210, 15%, 36%);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
    justify-content: center;
    align-items: center;
}

.pixelation, .brickswide, .brickshigh {
    width: 100%; /* Width of the outside container */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
    color: hsl(0, 0%, 83%);
    font-family: Ubuntu, 'Segoe UI', sans-serif;
    font-weight: 700;
    font-size: 3vmin;
}

.pixelation {
    grid-row: 1;
}

.brickswide {
    grid-row: 2;
}

.brickshigh {
    grid-row: 3;
}

h2 {
    text-transform: uppercase;
    margin: 2px;
    font-size: 2.5vmin;
}

p {
    display: inline;
}

/* The slider itself */
.slider {
    padding:0;
    margin:0;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 75%; /* Full-width */
    height: 25px; /* Specified height */
    background: hsl(0, 0%, 83%); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.button {
    grid-row: 5;
    justify-self: center;
    align-self: center;
}

button {
    color:  hsl(210, 15%, 36%);
    font-family: Ubuntu, 'Segoe UI', sans-serif;
    font-weight: 700;
    font-size: 3vmin;
}

input[type='radio'] { 
    transform: scale(1.33); 
}

select, .imageSelect {
    grid-row: 4;
    justify-self: center;
    align-self: center;
    background-color: hsl(0, 0%, 83%);
    color:  hsl(210, 15%, 36%);
    font-family: Ubuntu, 'Segoe UI', sans-serif;
    font-weight: 500;
    font-size: 2vmin;
}